<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crao.crud.dao.StudentMapper">
    <resultMap id="test" type="com.crao.crud.dto.Student">

    </resultMap>

    <select id="getTest" resultType="string">
        select name from student where id = 10001
    </select>
    <select id="getTestList" resultType="com.crao.crud.dto.Student">
        select * from student where isDeleted = 0
    </select>

    <select id="getStudent" resultType="com.crao.crud.dto.Student">
        select name, major from student where id=#{id}
    </select>

    <insert id="addStudent">
        INSERT INTO student(name, major, isDeleted) VALUES (#{name}, #{major}, 0)
    </insert>

    <delete id="delStudent">
        Update student set isDeleted = 1 where id=#{id}
    </delete>

    <update id="updateStudent">
        update student
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="major!=null">major=#{major},</if>
        </set>
        where id=#{id}
    </update>
</mapper>